.container {}

.button {}

.loadingContainer {}

.loadingMessage {}

.spinner {}

.path {}

.bounce {}

.fadeIn {
}

@keyframes fadeInAnim {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}